<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span fxFlex>
            <button mat-icon-button matTooltip="Menu" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
            <button mat-icon-button matTooltip="Sair" (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side">
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links">
                <a mat-list-item href="..."> {{ link }} </a>
            </mat-list-item>
          </mat-nav-list>
    </mat-drawer>
  
    <div class="drawer-sidenav-content">
        <router-outlet></router-outlet> 
    </div>
  </mat-drawer-container>
  