<div class="main" fxLayoutAlign="center start">
    <mat-card fxFlex.xs="100" fxFlex="75">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-card-content class="form-content" fxLayout="column">
                <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <img ngxGravatar [email]="formGroup.value.nmEmail" size="55" matTooltip="Gravatar"/>
                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" maxlength="255" formControlName="nmUsuario" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>Login</mat-label>
                        <input matInput type="text" maxlength="255" formControlName="nmLogin" required>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="10" appearance="fill">
                        <mat-label>Situação</mat-label>
                        <mat-select matNativeControl required formControlName="stUsuario">
                            <mat-option *ngFor="let element of situacoes" [value]="element.value">{{ element.key }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" maxlength="255" formControlName="nmSenha" required>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>Confirme a senha</mat-label>
                        <input #nmSenhaConfirm matInput type="password" maxlength="255">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" maxlength="255" required
                        formControlName="nmEmail" mask="A*@A*.SSS||A*@A*.SSS.SS">
                    </mat-form-field>
                    <mat-form-field *ngIf="isAdmin" fxFlex.xs="10" appearance="fill">
                        <mat-label>Permissão</mat-label>
                        <mat-select matNativeControl required formControlName="nmRole">
                            <mat-option *ngFor="let role of userRole" [value]="role.value">{{ role.key }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="accent" type="button" [routerLink]="['/usuarios']">Voltar</button>
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>save</mat-icon>
                    <span style="padding-left: 10px;">Salvar</span>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>