<div class="main" fxLayoutAlign="center start">
    <mat-card class="card-form" fxFlex.xs="100" fxFlex="75"  >
        <mat-card-content class="card-content-form" fxLayout="column" >
            <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" maxlength="255">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Login</mat-label>
                    <input matInput type="text" maxlength="255" >
                </mat-form-field>
                <mat-slide-toggle color="primary">Ativo</mat-slide-toggle>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
            <button mat-button color="accent" [routerLink]="['/usuarios']">Voltar</button>
            <button mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
                <span style="padding-left: 10px;">Salvar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>