.card {
    max-width: 400px;
    margin-right: 10px;
    margin-left: 10px;
}

.header-image-famec {
    background-image: url('../../../assets/img/logo-2.png');
    background-size: cover;
    background-position: center;
}

.header-image-dev {
    background-image: url('https://fonts.gstatic.com/s/i/materialicons/code/v5/24px.svg?download=true');
    background-size: cover;
    background-position: center;
}